<?php
	$websites=Mage::app()->getWebsites();
        $current_scope = 0;
        // Catch the scope where we want to put this
        foreach ($websites as $website)
{
            $code = $website->getCode();
            if ($code == $this->getRequest()->getParam('website')) {$current_scope = $website->getId();}
        }
?>
<button
    type="button"
    class="scalable save"
    onclick="getAutofraudcontrolSalt()">
    <span><?php echo $this->__('Update automatic fraud control salt')?></span>
</button>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('skin').'frontend/default/default/resursbank/js/jquery.js';?>"></script>
<script>
    $j = jQuery.noConflict();
    function getAutofraudcontrolSalt()
    {
        var customerId = $j('#payment_store_credentials_customer_represtantive_id').val();
        var password = $j('#payment_store_credentials_customer_represtantive_password').val();
        
        $j("#ajaxloader_autofraudcontrol").show();
        $j.ajax({
            type: "POST",
            data: "customerId="+customerId+"&password="+password + "&scope=<?php echo $current_scope; ?>",
            url: '<?php echo $this->getUrl('resursbank/index/getAutofraudcontrolSalt');?>',
            success: function(data){
                data = jQuery.trim(data);
                if(data.length > 0)
                {
                    $j("#ajaxloader_autofraudcontrol").hide();
					try
					{
						eval(data);
						$j("#payment_callback_credentials_digestsalt_autofraudcontrol").val(displaymsg);
						if (error && !approved)
						{
							alert("Error: " + errstring);
						}
					}
					catch (e)
					{
						alert(e);
					}
                }
                else
                {
                    location.href = location.href;
                }
            }
        });
    }
</script>   
<div id="ajaxloader_autofraudcontrol" style="display:none;padding-top:10px;"> 
    <img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif');?>">
</div>



