<?php
		$websites=Mage::app()->getWebsites();
		$current_scope = 0;
		// Catch the scope where we want to put this
		foreach ($websites as $website)
		{
			$code = $website->getCode();
			if ($code == $this->getRequest()->getParam('website')) {$current_scope = $website->getId();}
		}
?>
<button
    type="button"
    class="scalable save"
    onclick="getPaymentMethod('<?php echo $current_scope ?>')">
    <span><?php echo $this->__('Update available payments'); ?></span>
</button>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('skin').'frontend/base/default/resursbank/js/jquery.js';?>"></script>
<script>
    $j = jQuery.noConflict();
    function getPaymentMethod(curscope)
    {
        var customerId = $j('#payment_store_credentials_customer_represtantive_id').val();
        var password = $j('#payment_store_credentials_customer_represtantive_password').val();
        var settings = $j('#payment_common_settings_server').val();
        var countries = $j('#payment_common_settings_specificcountry').val();
        var taxClass = $j('#payment_common_settings_tax_class').val();
        var newStatus = $j('#payment_common_settings_new_order_status').val();
        var notStatus = $j('#payment_common_settings_not_accepted_order_status').val();
        var pendingStatus = $j('#payment_common_settings_payment_pending_status').val();
        var errorMessage = $j('#payment_common_settings_custom_error_text_message').val();

        $j("#ajaxloader").show();
        $j.ajax({
            type: "POST",
            data: "setscope=" + curscope + "&customerId="+customerId+"&password="+password+"&settings="+settings+"&countries="+countries+"&tax_class="+taxClass+"&new_status="+newStatus+"&not_status="+notStatus+"&pending_status="+pendingStatus+"&error_message="+errorMessage,
            url: '<?php echo $this->getUrl('resursbank/index/getPaymentMethods');?>',
            success: function(data){
                data = jQuery.trim(data);
                if(data.length > 0)
                {
                    $j("#ajaxloader").hide();
                    alert(data);
                }
                else
                {
                    location.href = location.href;
                }
            }
        });
    }
</script>   
<div id="ajaxloader" style="display:none;padding-top:10px;"> 
    <img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif');?>">
</div>



