<?php
	if (strlen($code = Mage::getSingleton('adminhtml/config_data')->getStore())) // store level 
	{
		$current_scope = Mage::getModel('core/store')->load($code)->getId();
	}
	elseif (strlen($code = Mage::getSingleton('adminhtml/config_data')->getWebsite())) // website level
	{
		$website_id = Mage::getModel('core/website')->load($code)->getId();
		$current_scope = Mage::app()->getWebsite($website_id)->getDefaultStore()->getId();
	}
	else // default level
	{
		$current_scope = 0;
	}
?>
<button
    type="button"
    class="scalable save"
    onclick="getUnfreezeSalt()">
    <span><?php echo $this->__('Update unfreeze salt')?></span>
</button>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('skin').'frontend/default/default/resursbank/js/jquery.js';?>"></script>
<script>
    $j = jQuery.noConflict();
    function getUnfreezeSalt()
    {
        var customerId = $j('#payment_store_credentials_customer_represtantive_id').val();
        var password = $j('#payment_store_credentials_customer_represtantive_password').val();
        
        $j("#ajaxloader_unfreeze").show();
        $j.ajax({
            type: "POST",
            data: "customerId="+customerId+"&password="+password + "&scope=<?php echo $current_scope; ?>",
            url: '<?php echo $this->getUrl('resursbank/index/getUnfreezeSalt');?>',
            success: function(data){
                data = jQuery.trim(data);
                if(data.length > 0)
                {
                    $j("#ajaxloader_unfreeze").hide();
					try
					{
						eval(data);
						$j("#payment_callback_credentials_digestsalt_unfreeze").val(displaymsg);
						if (error && !approved)
						{
							alert("Error: " + errstring);
						}
					}
					catch (e)
					{
						alert(e);
					}
                }
                else
                {
                    location.href = location.href;
                }
            }
        });
    }
</script>   
<div id="ajaxloader_unfreeze" style="display:none;padding-top:10px;"> 
    <img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif');?>">
</div>



