<?php
	if (strlen($code = Mage::getSingleton('adminhtml/config_data')->getStore())) // store level 
	{
		$current_scope = Mage::getModel('core/store')->load($code)->getId();
	}
	elseif (strlen($code = Mage::getSingleton('adminhtml/config_data')->getWebsite())) // website level
	{
		$website_id = Mage::getModel('core/website')->load($code)->getId();
		$current_scope = Mage::app()->getWebsite($website_id)->getDefaultStore()->getId();
	}
	else // default level
	{
		$current_scope = 0;
	}

?>
<button
    type="button"
    class="scalable save"
    onclick="getPaymentMethod('<?php echo $current_scope ?>')">
    <span>
        <?php echo $this->__('Update available payments'); ?>
    </span>
</button>
<?php
if (isset($_SERVER['RESURS_CLEAN_METHODS_CACHE']) && $_SERVER['RESURS_CLEAN_METHODS_CACHE'] == "true") {
	if (isset($_SERVER['RESURS_CLEAN_METHODS_CACHE_EXTEND']) && $_SERVER['RESURS_CLEAN_METHODS_CACHE_EXTEND'] == "true") {
		echo '<br><span style="font-weight: bold;color:#9900FF;font-style: italic;">' . $this->__('NOTE: ResursCleanMethodsCacheExtend is activated. The Resurs Payment Methods Cache, for all stores and representatives, will be cleared each update, until this mode is disabled!') . "</span><br>";
	} else {
		echo '<br><span style="font-weight: bold;color:#9900FF;font-style: italic;">' . $this->__('NOTE: ResursCleanMethodsCache is activated. The Resurs Payment Methods Cache, for this store\'s representative only, will be cleared each update, until this mode is disabled!') . "</span><br>";
	}
}
?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('skin').'frontend/base/default/resursbank/js/jquery.js';?>"></script>
<script>
    $j = jQuery.noConflict();
    function getPaymentMethod(curscope)
    {
        var customerId = $j('#payment_store_credentials_customer_represtantive_id').val();
        var password = $j('#payment_store_credentials_customer_represtantive_password').val();
        var settings = $j('#payment_common_settings_server').val();
        var countries = $j('#payment_common_settings_specificcountry').val();
        var taxClass = $j('#payment_common_settings_tax_class').val();
        var newStatus = $j('#payment_common_settings_new_order_status').val();
        var notStatus = $j('#payment_common_settings_not_accepted_order_status').val();
        var pendingStatus = $j('#payment_common_settings_payment_pending_status').val();
        var errorMessage = $j('#payment_common_settings_custom_error_text_message').val();

        $j("#ajaxloader").show();
        $j.ajax({
            type: "POST",
            data: "setscope=" + curscope + "&customerId="+customerId+"&password="+password+"&settings="+settings+"&countries="+countries+"&tax_class="+taxClass+"&new_status="+newStatus+"&not_status="+notStatus+"&pending_status="+pendingStatus+"&error_message="+errorMessage,
            url: '<?php echo $this->getUrl('resursbank/index/getPaymentMethods');?>',
            success: function(data){
                data = jQuery.trim(data);
                if(data.length > 0)
                {
                    $j("#ajaxloader").hide();
                    alert(data);
                }
                else
                {
                    if (typeof configForm != "undefined" && typeof configForm.submit() != "undefined") {
                        // If this button exists, use it to save the new configuration.
                        configForm.submit();
                    } else {
                        // If it did not exist, reload page instead.
                        location.href = location.href;
                    }
                }
            }
        });
    }
</script>   
<div id="ajaxloader" style="display:none;padding-top:10px;"> 
    <img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif');?>">
</div>



