body {
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 13px;
}
.headText{
    padding: 7px 0;
    display: block;
}
.payment-method-list {
    float: left;
    width: 100%;
}
.payment-method-list-first-half {
    float: left;
    width: 100%;
}
.payment-method-list-readme {
    float: right;
    margin-top: -15px;
}
.payment-method-list-readme a {
    text-decoration: none;
}
.payment-method-list-readme a:hover {
    text-decoration: underline;
}
.payment-method-list-form {
    background-color: #fff;
    border: 1px solid #eee;
    margin-top: 15px;
    min-height: 88px;
    padding: 10px;
}
.ssn-label {
}
.ssn-input-controls {
    margin-top: 15px;
}
.ssn-input-text {
    width: 120px;
}
.ssn-input-button {
}
.ssn-address-container {
    float: right;
    margin-top: 0;
    width: 100%;
}
.address-from-resurs {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 96%;
}
.address-from-resurs-name {
    font-size: 12px;
    font-weight: bold;
}
.address-from-resurs p {
    margin: 0;
}

.readme-popup-box {
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline;
    left: 0;
/*    max-height: 350px;*/
    overflow: auto;
    padding: 20px;
    position: fixed;
    top: 100px;
    left:50%;
    width: 50%;
    margin: 0 0 0 -25%;
    z-index: 100;
}
.readme-popup-button {
    margin-left: 46.5%;
}
.resurs-payment-description {
}
.resurs-payment-form {
}
.resurs-dynamic-form-list {
    padding-left: 1px !important;
}
.resurs-dynamic-form-input-field {
    clear: both;
    display: block;
    width: 260px;
}
.link-button {
    background: none repeat scroll 0 0 #f18200;
    border: 1px solid #de5400;
    color: #ffffff;
    cursor: pointer;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    float: right;
}
.disabled {
    opacity: 0.4;
}
.firecheckout-set .sp-methods dt {
    margin: 13px 0 5px !important;
}
.payment-methods dd {
    padding: 0 !important;
}
.payment-methods .validation-advice {
    width: 60% !important;
}
.readme-popup-box p {
    margin: 0 0 1em;
}
.readme-popup-box h2 {
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}
.readme-popup-box h3 {
    font-size: 1.35em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}
.readme-popup-box .page {
    text-align: left;
}
.readme-popup-box table {
    border: 0 none;
    border-spacing: 0;
    empty-cells: show;
    font-size: 98%;
    padding-bottom: 7px;
}
.readme-popup-box table td{
    border-bottom: 1px solid #bebcb7;
    padding: 7px 14px;
    text-align: center;
    color: #006080;
    font-weight: bold !important;
}
.readme-popup-box .header:after, .readme-popup-box p:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.readme-popup-box .header {
    margin: 0 0 12px;
    padding: 7px 0px;
    position: relative;
    text-align: left;
/*    width: 930px;*/
    width: 100%;
    z-index: 10;
    color: #000;
}
.readme-popup-box caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.readme-popup-box ul, ol {
    list-style: none outside none;
}
.readme-popup-box .main {
    text-align: left;
}
.readme-popup-box span.tailText {
    font-size: 11.7px;
}

.resurs-logo{
    width: 100px;
}
