/* costOfPurchaseHTML CSS */

body {
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 13px;
    overflow-y: scroll;
}
.headText{
    padding: 7px 0;
    display: block;
}

.readme-popup-box {
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline;
    left: 0;
    /* max-height: 350px; */
    /*max-height: 700px;*/
    /*max-width: 700px;*/
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 100px;
    left:50%;
    width: 50%;
    margin: 0 0 0 -25%;
    z-index: 100;
}
.link-button {
    background: none repeat scroll 0 0 #f18200;
    border: 1px solid #de5400;
    color: #ffffff;
    cursor: pointer;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    float: right;
}

.readme-popup-box p {
    margin: 0 0 1em;
}
.readme-popup-box h2 {
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}
.readme-popup-box h3 {
    font-size: 1.35em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}
.readme-popup-box .page {
    text-align: left;
}
.readme-popup-box table {
    border: 0 none;
    border-spacing: 0;
    empty-cells: show;
    font-size: 98%;
    padding-bottom: 7px;
}
.readme-popup-box table td{
    border-bottom: 1px solid #bebcb7;
    padding: 7px 14px;
    text-align: center;
    color: #006080;
    font-weight: bold !important;
}
.readme-popup-box .header:after, .readme-popup-box p:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.readme-popup-box .header {
    margin: 0 0 12px;
    padding: 7px 0px;
    position: relative;
    text-align: left;
/*    width: 930px;*/
    width: 100%;
    z-index: 10;
    color: #000;
}
.readme-popup-box caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
.readme-popup-box ul, ol {
    list-style: none outside none;
}
.readme-popup-box .main {
    text-align: left;
}
.readme-popup-box span.tailText {
    font-size: 11.7px;
}
