.payment-method-list{
    width: 100%;
    float: left;
}
.payment-method-list-first-half{
    width: 100%;
    float: left;
}
/*
.payment-method-list-readme{
    float: right;
    margin-top:-24px;
}*/
.payment-method-list-readme{
float: left;
margin-top:-10px;
margin-left:97px;
font-size:11px;
}
.payment-method-list-readme a{
    text-decoration: none
}
.payment-method-list-readme a:hover{
    text-decoration: underline;
}
.payment-method-list-form{
    border: 1px solid #eee;
    min-height: 88px;
    background-color: #fff;
    padding: 10px;
    margin-top:15px;    
}
.ssn-label{
    
}
.ssn-input-controls{
    margin-top:15px;
    
}
.ssn-input-text{
    
}
.ssn-input-button{
    
}
.ssn-address-container{
    width: 100%;
    float: right;
    margin-top:0px;
}
.address-from-resurs{
    border-radius: 5px;
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 5px;
    width: 96%;
    margin-bottom: 10px;
}
.address-from-resurs-name{
    font-size: 12px;
    font-weight: bold;
}
.address-from-resurs p{
    margin: 0;
}
.readme-popup-box{
    z-index: 100;
    position: fixed;
    top:100px;
    left:0;
    width:500px;
    max-height: 350px;
    overflow: auto;
    border:1px solid #333;
    background-color: #fff;
    padding: 20px;
    display: inline;
}
.readme-popup-button{
    margin-left: 46.5%;
}
.resurs-payment-description{
    
}
.resurs-payment-form{
    
}
.resurs-dynamic-form-list{
    padding-left:1px !important;
}
.resurs-dynamic-form-input-field{
    clear: both;
    display: block;
    width: 260px;
}

.link-button{
    cursor: pointer;
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.firecheckout-set .sp-methods dt{
    margin: 13px 0 5px !important;
}
#payment-method-review img{
    display: none;
}

.readme-popup-box p{
    margin: 0 0 1em;
}

.readme-popup-box h2 {
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}

.readme-popup-box h3 {
    font-size: 1.35em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}

.readme-popup-box .page {
    text-align: left;
}

.readme-popup-box  table {
    border: 0 none;
    border-spacing: 0;
    empty-cells: show;
    font-size: 98%;
}

.readme-popup-box .header:after, .readme-popup-box p:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.readme-popup-box .header {
    margin: 0 0 12px;
    padding: 2px;
    position: relative;
    text-align: left;
    width: 930px;
    z-index: 10;
}
.readme-popup-box  caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.readme-popup-box ul, ol {
    list-style: none outside none;
}

.readme-popup-box .main {
    text-align: left;
}

.readme-popup-box  span.tailText{
    font-size: 11.7px;
}