<?php

/**
 * Resursbank payment Method - Refactored version
 * This plugin has a deep past, that is hard to explain in a complete version, but the story now requires a complete refactor of this part.
 *
 */

$methodCode=$this->getMethodCode();
$paymentId = str_replace('resurspayment','',$methodCode);
$checkout = $this->getQuote();
$billing = $checkout->getBillingAddress();
/* Removed: Company control data. Former usage for GetAddress */
$loaderImage = '<img src="'.$this->getSkinUrl('images/opc-ajax-loader.gif').'" />';
$paymentMethodDescription = Mage::getStoreConfig("payment/$methodCode/payment_method_descrption");
$methodInfo = Mage::getModel('resursbank/methods')->getCollection()->addFieldToFilter('payment_id',$paymentId)->getFirstItem();
$paymentType = strtolower(isset($methodInfo['payment_type']) ? $methodInfo['payment_type'] : null);

/*$shortCode = null;
if (isset($methodInfo['user_id']) && !empty($methodInfo['user_id'])) {
    $shortCode = preg_replace("/^".$methodInfo['user_id']."/", '', $methodCode);
}*/

/** @var $hideReadme Payment method types CARD (normally befintligt kort) does not need a "Read more"-box visible, since the customer already have accepted */
$hideReadme = false;
if ($paymentType == "card") {$hideReadme = true;}
$scope = Mage::app()->getWebsite()->getId();
$imgLogo = Mage::getStoreConfig('payment/' . $methodCode . '/paymentlogo');
if (preg_match("/^\//", $imgLogo)) {$imgLogo = Mage::getBaseUrl('skin') . $imgLogo;}
?>
<!-- ResursForm 1.3.9/Refactor -->

<div class="payment-method-list-readme">
    <script>
        var dynamic_form_cache_<?php echo $paymentId; ?> = true;
    </script>
    <?php if (!$hideReadme) { ?>
        <a onclick="getCostPopup('<?php echo $paymentId ?>','<?php echo $this->getUrl('resursbank/index/getCost/methodid/' . $paymentId . "/amount/0")?>','<?php echo $checkout->getBaseGrandTotal()?>')" href="javascript:void(0);"><?php echo $this->__('Read More >>');?></a>
    <?php } ?>
</div>
<div class="readme-popup-box readme-popup-box<?php echo $paymentId ?>" style="display:none;background: #fff;">
    <h2><?php echo Mage::getStoreConfig("payment/$methodCode/title");?></h2>
    <div id="popup-ajax-loader<?php echo $paymentId ?>" style="text-align:center;"><?php echo $loaderImage?></div>
    <a href="javascript:void(0);" class="link-button" onclick="closePopup('<?php echo $paymentId ?>')"><?php echo $this->__('Close') ?></a>
    <div id="get-cost-html-content<?php echo $paymentId ?>" style="background-color: #FFFFFF;"></div>
    <div id="inline_content" style="background-color: #FFFFFF;"></div>
    <a href="javascript:void(0);" class="link-button" onclick="closePopup('<?php echo $paymentId ?>')"><?php echo $this->__('Close') ?></a>
</div>
<div class="payment-method-list-form" id="payment_form_<?php echo $methodCode ?>" style="display:none;">
    <div class="payment-method-list">
        <div class="payment-method-list-first-half payment-method-list-first-half<?php echo $paymentId ?>">
            <?php
            if ($this->getRequest()->getRouteName() == "onestepcheckout") {
                ?><img src="<?php echo $imgLogo; ?>"><br><br><?php
            }
            ?>
        </div>
    </div>
    <?php
    if(!empty($paymentMethodDescription)) {
        ?>
        <div class="resurs-payment-description" id="resurs-payment-description<?php echo $paymentId ?>"
             style="display:;">
            <h5><?php echo $this->__('Payment information') ?></h5>

            <p>
                <?php echo nl2br($paymentMethodDescription) ?>
            </p>
        </div>
        <?php
    }
    ?>

    <div class="resurs-payment-form" id="resurs-payment-form<?php echo $paymentId ?>" style="display: none">Payment Form</div>
    <script type="text/javascript">
        /* Compatibility stuff */
        if (loaderImage == "") { loaderImage = '<?php echo $loaderImage?>'; }
        if (getCostUrl == "") { getCostUrl = '<?php echo $this->getUrl('resursbank/index/getCost')?>'; }
        /* Remove: getAddress section has moved */

    </script>
    <?php
    $dynamicFormURL = Mage::getUrl('resursbank/index/dynamicform');
    // From 1.3.9, we'll let all checkout through here
    //if($this->getRequest()->getRouteName()=='onestepcheckout' || $this->getRequest()->getRouteName()=='firecheckout' || $this->getRequest()->getRouteName()=='checkout') {
    ?>
    <div id="dynamicForm<?php echo $paymentId ?>"></div>
    <!-- Extraction of loader -->
    <div id="from-ajax-loader<?php echo $paymentId ?>" style="text-align:center;"><?php echo $loaderImage?></div>
    <script type="text/javascript">
        totalPaymentMethodsAvailable = parseInt('<?php echo Mage::helper('resursbank')->isSingleResursPayment()?>');
        resursMethodList.push('<?php echo $paymentId ?>');
        resursRoute = '<?php echo $this->getRequest()->getRouteName(); ?>';
        resursDynForm = '<?php echo $dynamicFormURL; ?>';
        //if (resursRoute == "checkout") {
        //var DynFormCheck = $jRB('#is_dynamic_form_loaded_<?php echo $paymentId ?>');
        ResursMethodInstantBind('<?php echo $paymentId ?>', resursRoute, resursDynForm);
        //}
    </script>
    <?php
    //}
?>
