<?php if (isset($details)): ?>
<div class="entry-edit remove-note">
    <div class="entry-edit-head"><h4 class="icon-head head-shipping-method">
        <?php echo Mage::helper('resursbank')->__('Information from Resurs')?>
    </h4></div>
        <fieldset style="background:skyBlue;">
            <p style="font-weight: bold;">
            <?php echo Mage::helper('resursbank')->__('This is the address Resurs Bank brings back from the credit report.<br>Make sure to match the information in the order.')?>
            </p>
            <?php
            $status = "AUTHORIZE";

            if(is_array($details->paymentDiffs))
            {
                foreach ($details->paymentDiffs as $paymentDiff)
                {
                    if($paymentDiff->type === "DEBIT")
                        $status = "DEBIT";
                    if($paymentDiff->type === "ANNUL")
                        $status = "ANNUL";
                    if($paymentDiff->type === "CREDIT")
                        $status = "CREDIT";
                }
            }
            else
            {
                if($details->paymentDiffs->type === "DEBIT")
                    $status = "DEBIT";
                if($details->paymentDiffs->type === "ANNUL")
                    $status = "ANNUL";
                if($details->paymentDiffs->type === "CREDIT")
                    $status = "CREDIT";
            }
            ?>
            <?php if($status === "DEBIT"): ?>
                <h2>
                    <?php
                    if ($details->paymentMethodType === "INVOICE") {
                        echo Mage::helper('resursbank')->__('Invoice Sent');
                        } else {
                        echo Mage::helper('resursbank')->__('Payment Debited');
                    }
                    ?>:
                    <?php echo isset($details->finalized) ? date("Y-m-d", strtotime($details->finalized)) : (isset($paymentDiff->created) ? date("Y-m-d", strtotime($paymentDiff->created)) : "-"); ?>
                </h2>
            <?php elseif($status === "CREDIT"): ?>
                <h2><?php echo Mage::helper('resursbank')->__('Payment Credited')?></h2>
            <?php elseif($status === "ANNUL"): ?>
                <h2><?php echo Mage::helper('resursbank')->__('Payment Canceled')?></h2>
            <?php else: ?>
                <p>
                    <?php echo Mage::helper('resursbank')->__('Confirm the invoice to be sent before changes can be made to order. <br> Changes of the invoice must be made in resurs bank management.')?>
            </p>
            <?php endif ?>
            <table cellpadding="0" class="form-list">
                <tr>
                    <td><?php echo Mage::helper('resursbank')->__('Payment Id')?></td>
                    <td class="value"><?php echo $details->id; ?></td>
                </tr>
                <tr>
                    <td><?php echo Mage::helper('resursbank')->__('Payment method type')?></td>
                    <td class="value"><?php echo $details->paymentMethodType; ?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Payment amount')?></td>
                    <td class="value"><?php echo round($details->totalAmount, 2)?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Payment limit')?></td>
                    <td class="value"><?php echo round($details->limit, 2)?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Fraudulent?')?></td>
                    <td class="value"><?php echo $details->fraud ? Mage::helper('core')->__('Yes') : Mage::helper('core')->__('No')?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Frozen?')?></td>
                    <td class="value"><?php echo $details->frozen ? Mage::helper('core')->__('Yes') : Mage::helper('core')->__('No')?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Customer name')?></td>
                    <td class="value"><?php echo (isset($details->customer->address->fullName) ? $details->customer->address->fullName : null); ?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Delivery address')?></td>
                    <td class="value">
                    <?php echo (isset($details->customer->address->addressRow1) ? $details->customer->address->addressRow1 : null); ?><br>
                    <?php echo (isset($details->customer->address->postalArea) ? $details->customer->address->postalArea : null); ?><br>
                    <?php echo (isset($details->customer->address->country) ? $details->customer->address->country : null); ?> - <?php echo (isset($details->customer->address->postalCode) ? $details->customer->address->postalCode : null); ?>
                    </td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Customer phone number')?></td>
                    <td class="value"><?php echo (isset($details->customer->phone) ? $details->customer->phone : null); ?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo Mage::helper('resursbank')->__('Customer e-mail')?></td>
                    <td class="value"><?php echo (isset($details->customer->email) ? $details->customer->email : null); ?></td>
                </tr>
            </table>
        </fieldset>
    </div>
<div style="clear: both;"></div>
<?php endif ?>